name: Windows CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-on-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-meson
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-gtk3
            mingw-w64-x86_64-glib2
            mingw-w64-x86_64-jsoncpp
            mingw-w64-x86_64-libsigc++
            mingw-w64-x86_64-gettext-tools
            mingw-w64-x86_64-appstream
      
      - name: Configure
        run: meson setup build
      
      - name: Build
        run: meson compile -C build
      
      - name: Install
        run: meson install -C build
      
      - name: Test
        run: meson test -C build --verbose --no-stdsplit
        continue-on-error: true
